# Firebase configuration
# This file contains sensitive API keys and should not be committed.
firebase.js

# Node.js dependencies
# Although you are not using them now, it's a good practice to have this.
/node_modules

# IDE/Editor specific files
.vscode/
.idea/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*